@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-black text-white font-sans antialiased;
}

/* Prevent navbar overlap */
section {
  scroll-margin-top: 120px;
}
